%div.container
    %div.row
        %div.col-sm-4
        %div.col-sm-4 
            %div.card.bg-primary.text-white.border.border-0
                %div.card-header
                    Main menu
                %div.card-body.bg-light
                    %div.list-group 
                        =link_to "Borrow books" , books_path, :class=>"list-group-item list-group-item-action"

                        =link_to "Return a book" , books_path(:is_mine => true), :class=>"list-group-item list-group-item-action"

                        =link_to "View my logs" , logs_path, :class=>"list-group-item list-group-item-action"
        %div.col-sm-4