%div.container{:style => 'margin-top: 10px;'} 

    %div
        =form_with url: '/books', method: :get, local: true do |f|
            %div.form-group
                =f.text_field :keywords, id: :keywords, :value => @keywords, :class => 'form-control', :placeholder => 'Search book'
            %div.field 
                =f.label :book 
                %br 
                =f.collection_select(:library_id, @libraries, :id, :name, :include_blank => "Select Library", :selected=> @current_library, :class => 'form-control')
            -if @is_mine == 'true' 
                =hidden_field_tag(:is_mine, true)
            =f.submit "Submit", :class => 'btn, btn-primary'
    %h3 Books
    %div.row 
        - @books.each do |book|
            %div.col-sm-3
                %div.card.card-max-height
                    %img.card-img-top{:src => book.img_url, :style=> "width:100%"}
                    %div.card-body
                        %h4.card-title
                            =book.name
                        %p.card-text
                            =book.synopsis
                        -if @is_mine
                            = link_to 'Return book', book_return_path(book) , method: :patch, :class=> "btn btn-primary btn-block"
                        -else
                            = link_to 'View', book_path(book), :class=> "btn btn-default btn-block"
    = link_to 'Back', home_index_path, :class=>'btn btn-default'